<ng-container *ngIf="!loading">
  <form>
    <input class="search-input" type="text" placeholder="Search task" #search>
    <button class="search-btn" type="button" (click)="doSearch(search.value)">Search</button><br>
    <span class="search-not-found" *ngIf="notFound"> Nothing found </span>
  </form>

    <table>
      <thead>
        <tr>
          <th>WO ID</th>
          <th>Description</th>
          <th>Received date</th>
          <th colspan="2">Assigned to</th>
          <th>Status</th>
          <th>Priority</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let todo of filteredTodos">
          <td>{{ todo.work_order_id }}</td>
          <td>{{ todo.description }}</td>
          <td>{{ todo.received_date | date }}</td>
          <td>{{ todo.assigned_to_name }}</td>
          <td>{{ todo.assigned_to_status }}</td>
          <td>{{ todo.status }}</td>
          <td>{{ todo.priority }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-container>
    <div *ngIf="loading">
      <span>Loading....</span>
    </div>
  </ng-container>
